@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;

  /* Light theme */
  --background--light: oklch(0.98 0 0);
  --foreground--light: oklch(0 0 0);
  --card--light: oklch(0.95 0 0);
  --card-foreground--light: oklch(0 0 0);
  --popover--light: oklch(1 0 0);
  --popover-foreground--light: oklch(0 0 0);
  --primary--light: oklch(0.62 0.19 254.88);
  --primary-foreground--light: oklch(1 0 0);
  --secondary--light: oklch(0.85 0 0);
  --secondary-foreground--light: oklch(0.45 0 0);
  --muted--light: oklch(0.94 0 0);
  --muted-foreground--light: oklch(0.55 0 0);
  --accent--light: oklch(0.92 0 0);
  --accent-foreground--light: oklch(0.21 0 0);
  --destructive--light: oklch(0.64 0.21 25.33);
  --destructive-foreground--light: oklch(1 0 0);
  --border--light: oklch(0.9 0 0);
  --input--light: oklch(0.88 0 0);
  --ring--light: oklch(0.62 0.19 254.88);
  --chart-1--light: oklch(0.62 0.19 254.88);
  --chart-2--light: oklch(0.55 0.22 254.88);
  --chart-3--light: oklch(0.49 0.22 254.88);
  --chart-4--light: oklch(0.42 0.18 254.88);
  --chart-5--light: oklch(0.38 0.14 254.88);
  --sidebar--light: oklch(0.96 0 247.84);
  --sidebar-foreground--light: oklch(0 0 0);
  --sidebar-primary--light: oklch(0.62 0.19 254.88);
  --sidebar-primary-foreground--light: oklch(1 0 0);
  --sidebar-accent--light: oklch(0.95 0.03 236.82);
  --sidebar-accent-foreground--light: oklch(0.38 0.14 254.88);
  --sidebar-border--light: oklch(0.88 0 0);
  --sidebar-ring--light: oklch(0.62 0.19 254.88);
  --link--light: oklch(0.52 0.19 254.88);
  --warning--light: oklch(0.85 0.17 84.93);
  --warning-foreground--light: oklch(0 0 0);

  /* Dark theme */
  --background--dark: oklch(0.18 0 0);
  --foreground--dark: oklch(0.96 0 0);
  --card--dark: oklch(0.22 0 0);
  --card-foreground--dark: oklch(0.96 0 0);
  --popover--dark: oklch(0.22 0 0);
  --popover-foreground--dark: oklch(0.96 0 0);
  --primary--dark: oklch(0.62 0.19 254.88);
  --primary-foreground--dark: oklch(1 0 0);
  --secondary--dark: oklch(0.3 0 0);
  --secondary-foreground--dark: oklch(0.96 0 0);
  --muted--dark: oklch(0.22 0 0);
  --muted-foreground--dark: oklch(0.72 0 0);
  --accent--dark: oklch(0.26 0 0);
  --accent-foreground--dark: oklch(0.98 0 0);
  --destructive--dark: oklch(0.64 0.21 25.33);
  --destructive-foreground--dark: oklch(1 0 0);
  --border--dark: oklch(1 0 0 / 10%);
  --input--dark: oklch(1 0 0 / 15%);
  --ring--dark: oklch(0.62 0.19 254.88);
  --chart-1--dark: oklch(0.71 0.14 254.88);
  --chart-2--dark: oklch(0.62 0.19 254.88);
  --chart-3--dark: oklch(0.55 0.22 254.88);
  --chart-4--dark: oklch(0.49 0.22 254.88);
  --chart-5--dark: oklch(0.42 0.18 254.88);
  --sidebar--dark: oklch(0.22 0 0);
  --sidebar-foreground--dark: oklch(0.96 0 0);
  --sidebar-primary--dark: oklch(0.62 0.19 254.88);
  --sidebar-primary-foreground--dark: oklch(1 0 0);
  --sidebar-accent--dark: oklch(0.38 0.14 254.88);
  --sidebar-accent-foreground--dark: oklch(0.88 0.06 254.88);
  --sidebar-border--dark: oklch(0.35 0 0);
  --sidebar-ring--dark: oklch(0.62 0.19 254.88);
  --link--dark: oklch(0.72 0.19 254.88);
  --warning--dark: oklch(0.85 0.17 84.93);
  --warning-foreground--dark: oklch(0 0 0);

  /* Default */
  --background: var(--background--light);
  --foreground: var(--foreground--light);
  --card: var(--card--light);
  --card-foreground: var(--card-foreground--light);
  --popover: var(--popover--light);
  --popover-foreground: var(--popover-foreground--light);
  --primary: var(--primary--light);
  --primary-foreground: var(--primary-foreground--light);
  --secondary: var(--secondary--light);
  --secondary-foreground: var(--secondary-foreground--light);
  --muted: var(--muted--light);
  --muted-foreground: var(--muted-foreground--light);
  --accent: var(--accent--light);
  --accent-foreground: var(--accent-foreground--light);
  --destructive: var(--destructive--light);
  --destructive-foreground: var(--destructive-foreground--light);
  --border: var(--border--light);
  --input: var(--input--light);
  --ring: var(--ring--light);
  --chart-1: var(--chart-1--light);
  --chart-2: var(--chart-2--light);
  --chart-3: var(--chart-3--light);
  --chart-4: var(--chart-4--light);
  --chart-5: var(--chart-5--light);
  --sidebar: var(--sidebar--light);
  --sidebar-foreground: var(--sidebar-foreground--light);
  --sidebar-primary: var(--sidebar-primary--light);
  --sidebar-primary-foreground: var(--sidebar-primary-foreground--light);
  --sidebar-accent: var(--sidebar-accent--light);
  --sidebar-accent-foreground: var(--sidebar-accent-foreground--light);
  --sidebar-border: var(--sidebar-border--light);
  --sidebar-ring: var(--sidebar-ring--light);
  --link: var(--link--light);
  --warning: var(--warning--light);
  --warning-foreground: var(--warning-foreground--light);
}

.dark {
  /* Dark */
  --background: var(--background--dark);
  --foreground: var(--foreground--dark);
  --card: var(--card--dark);
  --card-foreground: var(--card-foreground--dark);
  --popover: var(--popover--dark);
  --popover-foreground: var(--popover-foreground--dark);
  --primary: var(--primary--dark);
  --primary-foreground: var(--primary-foreground--dark);
  --secondary: var(--secondary--dark);
  --secondary-foreground: var(--secondary-foreground--dark);
  --muted: var(--muted--dark);
  --muted-foreground: var(--muted-foreground--dark);
  --accent: var(--accent--dark);
  --accent-foreground: var(--accent-foreground--dark);
  --destructive: var(--destructive--dark);
  --destructive-foreground: var(--destructive-foreground--dark);
  --border: var(--border--dark);
  --input: var(--input--dark);
  --ring: var(--ring--dark);
  --chart-1: var(--chart-1--dark);
  --chart-2: var(--chart-2--dark);
  --chart-3: var(--chart-3--dark);
  --chart-4: var(--chart-4--dark);
  --chart-5: var(--chart-5--dark);
  --sidebar: var(--sidebar--dark);
  --sidebar-foreground: var(--sidebar-foreground--dark);
  --sidebar-primary: var(--sidebar-primary--dark);
  --sidebar-primary-foreground: var(--sidebar-primary-foreground--dark);
  --sidebar-accent: var(--sidebar-accent--dark);
  --sidebar-accent-foreground: var(--sidebar-accent-foreground--dark);
  --sidebar-border: var(--sidebar-border--dark);
  --sidebar-ring: var(--sidebar-ring--dark);
  --link: var(--link--dark);
  --warning: var(--warning--dark);
  --warning-foreground: var(--warning-foreground--dark);
  color-scheme: dark;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-link: var(--link);
  --color-warning: var(--warning);

  --animate-shine: shine 2s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}
